@CHARSET "ISO-8859-1";

.header{
}

.sidebar{
	border: 1px solid blue;
	padding: 10px, 10px;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-size: 16px;
}

.question h2{
	font-size: 24px;
}

.question p{
	font-size: 12px;
	color: black;
}