@CHARSET "ISO-8859-1";

body{
	margin: 0;
	padding: 1;
	background-image: url("../images/background2.jpg");
}

.sidebar{
	width: 20%;
	height: 22%;
	border: 1px solid blue;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-size: 16px;
}
.sidebar p{
	text-align: center;
	font-weight: bold;
}

.description{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	justify-content: center;
	text-align: center;
}

.question{

}

.answers{

}

.floatContainer{
	float left;
}

.question h2{
	font-size: 24px;
}

.question p{
	font-size: 12px;	
	color: black;
}

#headerText{
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	color: white;
	background-image: url("../images/averie-woodard-111822.jpg");'
}