@CHARSET "ISO-8859-1";

* {
	padding:0px;
	margin:0px;
}

a {
	text-decoration:underline;
	color:black;
}

ul {
	list-style:none;
}

li {
	margin-left: 2%;
}


body{
	margin: 0;
	padding: 0;
	background-image: url("../images/background2.jpg");
}

.sidebar{
	background-image: url("../images/background.jpg");
	width: 20%;
	width: auto;
	height: 22%;
	border: 1px solid black;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-size: 16px;
	margin-left: 25px;
	display:inline-block;
	float:left;
}
.sidebar p{
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
}

.testingContainer {
	display:inline-block;
	margin: 0 auto;
	width:60%;
	float:left;
	
}

.questionContainer {
	display:block;
	margin-left:30%;
	margin-top:10%;
}

.answerList {
	list-style:upper-alpha;
	margin:20px;
}

.description{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	justify-content: center;
	text-align: center;
	margin-left: -2%;
	margin-top: -10%;
}

.question{

}

.answer{
	width: 400px;
}

.floatContainer{
	float left;
}

.question h2{
	font-size: 24px;
}

.question p{
	font-size: 12px;	
	color: black;
}

#headerText{
	text-align: center;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	color: white;
	background-image: url("../images/averie-woodard-111822.jpg");'
}

.recommendation{
	margin-left: 2%;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.testform{
	margin-left: 2%;
	line-height: 150%;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
.testform h1{
	font-size: 24px;
	text-decoration: underline;
}